<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <env name="JWT_PRIVATE_KEY_PATH" value="./var/jwt/private_test.pem" />
        <env name="JWT_PUBLIC_KEY_PATH" value="./var/jwt/public_test.pem" />
        <env name="JWT_PASSPHRASE" value="181302" />
        <env name="JWT_TOKEN_TTL" value="3600" />
        <env name="JWT_EXPIRATION_TIME" value="60" />
        <env name="PAGINATION_PAGE_LIMIT" value="20" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
        <!-- define your env variables for the test env here -->

        <!-- ###+ aws/aws-sdk-php-symfony ### -->
        <env name="AWS_KEY" value="not-a-real-key"/>
        <env name="AWS_SECRET" value="@@not-a-real-secret"/>
        <!-- ###- aws/aws-sdk-php-symfony ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    
</phpunit>
